backports.functools-lru-cache==1.5
bandit==1.5.1
certifi==2018.10.15
chardet==3.0.4
cheroot==6.5.2
CherryPy==18.0.1
gitdb2==2.0.5
GitPython==2.1.11
idna==2.7
jaraco.functools==1.20
more-itertools==4.3.0
pbr==5.1.0
pep8==1.7.1
portend==2.3
pyflakes==2.0.0
pyTelegramBotAPI==3.6.6
pytz==2018.7
PyYAML==3.13
requests==2.7.0
six==1.11.0
smmap2==2.0.5
stevedore==1.30.0
telebot==0.0.3
tempora==1.14
urllib3==1.24.1
virtualenv==16.1.0
zc.lockfile==1.4
